.version.index /* version checker */
{
	color: #0000F0;
	background-color: #FD9CF8;
}

.html
{
	background-color: #E8E8E8;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1502px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
	padding-bottom: 58px;
	margin-left: -100px;
}

#u75
{
	z-index: 3;
	height: 57px;
	border-style: solid;
	border-color: #C9C9C9;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	border-width: 0px 0px 1px;
}

#u75-bw
{
	z-index: 3;
}

#u80-4
{
	z-index: 20;
	width: 102px;
	min-height: 57px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -348px;
}

#u80-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 102px;
	margin: 0px 0px 0px -348px;
}

#u80-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 102px;
	margin: 0px 0px 0px -348px;
	border-width: 0px 0px 4px;
}

#u79-4
{
	z-index: 16;
	width: 116px;
	min-height: 57px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: -226px;
}

#u79-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 116px;
	margin: 0px 0px 0px -226px;
}

#u79-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 116px;
	margin: 0px 0px 0px -226px;
	border-width: 0px 0px 4px;
}

#u76-4
{
	z-index: 4;
	width: 213px;
	min-height: 32px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -108px;
}

#u77-4
{
	z-index: 8;
	width: 108px;
	min-height: 57px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: 114px;
}

#u77-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 108px;
	margin: 0px 0px 0px 114px;
}

#u77-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 108px;
	margin: 0px 0px 0px 114px;
	border-width: 0px 0px 4px;
}

#u78-4
{
	z-index: 12;
	width: 137px;
	min-height: 57px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 1px;
	left: 50%;
	margin-left: 243px;
}

#u78-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 137px;
	margin: 0px 0px 0px 243px;
}

#u78-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 137px;
	margin: 0px 0px 0px 243px;
	border-width: 0px 0px 4px;
}

#u80-4.MuseLinkActive p,#u79-4.MuseLinkActive p,#u77-4.MuseLinkActive p,#u78-4.MuseLinkActive p
{
	color: #000000;
	visibility: inherit;
}

#u80-2,#u79-2,#u77-2,#u78-2
{
	padding-top: 21px;
}

#top
{
	margin-left: 439px;
	top: -57px;
	margin-bottom: -18px;
	position: relative;
}

#u84
{
	z-index: 2;
	height: 320px;
	background: transparent url("../images/2014-05-03_173411.jpg") no-repeat center center;
	background-size: cover;
}

#u84-bw
{
	z-index: 2;
	margin-top: -2px;
	margin-bottom: -2px;
	height: 320px;
}

#staff
{
	margin-left: 480px;
	margin-top: 7px;
	position: relative;
}

#ppu91-4
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: -2px;
}

#u91-4
{
	z-index: 25;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: right;
	font-size: 30px;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u93-6
{
	z-index: 29;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u97-4
{
	z-index: 45;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: right;
	font-size: 30px;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 107px;
	position: relative;
}

#u98-6
{
	z-index: 49;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u99
{
	z-index: 55;
	width: 1px;
	height: 277px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u95-4
{
	z-index: 35;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u96-6
{
	z-index: 39;
	width: 303px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#pu100-4
{
	width: 0.01px;
	margin-left: 335px;
	margin-top: 148px;
}

#u100-4
{
	z-index: 56;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#info
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 60px;
}

#ppu102-4
{
	width: 0.01px;
	margin-left: 190px;
	margin-top: 26px;
}

#pu91-4,#pu102-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u102-4
{
	z-index: 60;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: right;
	font-size: 30px;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u103-4
{
	z-index: 64;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u106-4
{
	z-index: 76;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: right;
	font-size: 30px;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 107px;
	position: relative;
}

#u107-4
{
	z-index: 80;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u108
{
	z-index: 84;
	width: 1px;
	height: 277px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#pu95-4,#pu104-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 85px;
	margin-left: 295px;
}

#u104-4
{
	z-index: 68;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u105-4
{
	z-index: 72;
	width: 303px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#pu132-4
{
	width: 0.01px;
	margin-left: 335px;
	margin-top: 151px;
}

#u132-4
{
	z-index: 130;
	width: 289px;
	min-height: 41px;
	background-color: transparent;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#widgetu109
{
	z-index: 85;
	width: 0.01px;
	height: 371px;
	margin-left: 256px;
	margin-top: 15px;
	position: relative;
}

#widgetu111
{
	z-index: 86;
	width: 221px;
	height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#widgetu111.focus-st
{
	background-color: transparent;
	width: 221px;
	height: 69px;
	min-height: 0px;
	margin: -3px -10000px 0px 0px;
}

#u113-4
{
	z-index: 87;
	width: 193px;
	min-height: 33px;
	border-width: 3px;
	border-style: solid;
	color: #5E5E5E;
	text-align: left;
	line-height: 12px;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	padding: 24px 6px 6px 16px;
}

#widgetu111.non-empty-st #u113-4
{
	padding-top: 15px;
	min-height: 42px;
}

#widgetu111.focus-st #u113-4
{
	padding-top: 15px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

.Form
{
	border-width: 3px;
	border-style: solid;
	border-color: #353535;
	background-color: transparent;
}

#widgetu111.non-empty-st #u113-4 *
{
	color: #000000;
	padding-top: 9px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#widgetu111.focus-st #u113-4 *
{
	color: #000000;
	padding-top: 9px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#widgetu111_input,#widgetu111_prompt
{
	width: 193px;
	min-height: 33px;
	color: #5E5E5E;
	text-align: left;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-size: 12px;
	font-weight: 300;
	padding: 24px 6px 6px 16px;
}

#widgetu116
{
	z-index: 91;
	width: 221px;
	height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#widgetu111.fld-err-st,#widgetu116.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 221px;
	height: 69px;
	min-height: 0px;
	margin: -3px -10000px 0px 0px;
}

#u118-4
{
	z-index: 92;
	width: 193px;
	min-height: 33px;
	border-width: 3px;
	border-style: solid;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	padding: 24px 6px 6px 16px;
}

#widgetu116.non-empty-st #u118-4
{
	padding-top: 15px;
	min-height: 42px;
}

#widgetu111.fld-err-st #u113-4,#widgetu116.focus-st #u118-4
{
	padding-top: 15px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#widgetu116.fld-err-st #u118-4
{
	padding-top: 15px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#widgetu116.non-empty-st #u118-4 *
{
	color: #000000;
	padding-top: 9px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#widgetu116.focus-st #u118-4 *
{
	color: #000000;
	padding-top: 9px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#widgetu116_input,#widgetu116_prompt
{
	width: 193px;
	min-height: 33px;
	text-align: left;
	padding: 24px 6px 6px 16px;
}

#u125-4
{
	z-index: 96;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 135px;
}

#widgetu109.frm-sub-st #u125-4 p
{
	color: #999999;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u115-4
{
	z-index: 100;
	width: 320px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 66px;
}

#widgetu109.frm-subm-err-st #u115-4 p
{
	color: #91354B;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u110-4
{
	z-index: 104;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
	left: 115px;
}

#widgetu109.frm-sub-st #u125-4,#widgetu109.frm-subm-err-st #u115-4,#widgetu109.frm-subm-ok-st #u110-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu109.frm-subm-ok-st #u110-4 p
{
	color: #999999;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u124-17
{
	z-index: 108;
	min-height: 69px;
	width: 452px;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	background: url("../images/u124-17.png") no-repeat 0px 0px;
}

#u124-17:hover
{
	background: url("../images/u124-17-r.png") no-repeat 0px 0px;
}

#u124-17:active
{
	background: url("../images/u124-17-m.png") no-repeat 0px 0px;
}

#widgetu109.frm-sub-st #u124-17
{
	background: url("../images/u124-17-fs.png") no-repeat 0px 0px;
}

#widgetu120
{
	z-index: 125;
	width: 456px;
	height: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: -1px;
}

#widgetu120.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 456px;
	height: 151px;
	min-height: 0px;
	margin: 88px -10000px 0px 0px;
}

#u121-4
{
	z-index: 126;
	width: 428px;
	min-height: 115px;
	border-width: 3px;
	border-style: solid;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	padding: 24px 6px 6px 16px;
}

#widgetu120.non-empty-st #u121-4
{
	padding-top: 15px;
	min-height: 124px;
}

#widgetu120.focus-st #u121-4
{
	padding-top: 15px;
	padding-bottom: 6px;
	min-height: 124px;
	width: 428px;
	margin: 0px -10000px 0px 0px;
}

#widgetu120.fld-err-st #u121-4
{
	padding-top: 15px;
	padding-bottom: 6px;
	min-height: 124px;
	width: 428px;
	margin: 0px -10000px 0px 0px;
}

#widgetu120.non-empty-st #u121-4 *
{
	color: #000000;
	padding-top: 9px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#widgetu120.focus-st #u121-4 *
{
	color: #000000;
	padding-top: 9px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#widgetu111.fld-err-st #u113-4 *,#widgetu116.fld-err-st #u118-4 *,#widgetu120.fld-err-st #u121-4 *
{
	color: #FF0000;
	padding-top: 9px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#widgetu111.non-empty-st #widgetu111_input,#widgetu116.non-empty-st #widgetu116_input,#widgetu120.non-empty-st #widgetu120_input
{
	padding-top: 15px;
}

#widgetu120_input,#widgetu120_prompt
{
	width: 428px;
	min-height: 115px;
	text-align: left;
	padding: 24px 6px 6px 16px;
}

#widgetu111.non-empty-st #widgetu111_prompt,#widgetu116.non-empty-st #widgetu116_prompt,#widgetu120.non-empty-st #widgetu120_prompt
{
	padding-top: 15px;
	visibility: hidden;
}

#widgetu120.focus-st #widgetu120_prompt
{
	padding-top: 15px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu111.focus-st #widgetu111_input,#widgetu111.fld-err-st #widgetu111_input,#widgetu111.focus-st #widgetu111_prompt,#widgetu111.fld-err-st #widgetu111_prompt,#widgetu116.focus-st #widgetu116_input,#widgetu116.fld-err-st #widgetu116_input,#widgetu116.focus-st #widgetu116_prompt,#widgetu116.fld-err-st #widgetu116_prompt,#widgetu120.focus-st #widgetu120_input,#widgetu120.fld-err-st #widgetu120_input,#widgetu120.fld-err-st #widgetu120_prompt
{
	padding-top: 15px;
	padding-bottom: 6px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

